/*index.html*/

.intro{
        color: whitesmoke;
        font-size: 50px;
        font-family: 'Nunito', sans-serif;
        padding-top: 230px;
        padding-left: 200px;
        line-height: 0.0;
}

.openPage {
    background-image: url("https://images.unsplash.com/photo-1590262053647-5749f4c32ce0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
 
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
    font-style: italic;
}

.aboutme {
    font-size: 40px;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 200px;
    font-family: 'Nunito', sans-serif;
    padding-right: 200px;
    line-height: 1.4;
    background-color: rgb(4, 28, 41);
    letter-spacing: .1px;
    
}

body {
    margin: 0;
}

p {
    font-size: 20px;
}

.location {
    font-size: 15px;
    color: whitesmoke;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/*footer*/

footer {
    background-color: rgb(23, 23, 23);
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 10px;
}

.linkedin {
    color: white;
    vertical-align: bottom;
}

.material-icons.email {
    color: white;
    vertical-align: bottom;
    font-size: 28px;
}

.instagram {
    color: white;
    vertical-align: bottom;
}

.linkedin:hover {
    color: rgb(42, 120, 238);
}

.email:hover {
    color: rgb(170, 170, 170);
}

.instagram:hover {
    color: rgb(202, 70, 70);
}

.endingMessage {
    padding-top: 40px;
    font-size: 12px;
}

/*header/top nav*/
header {
    padding: 20px;
    padding-left: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    letter-spacing: .5px;
}

a:link {
    color: rgb(197, 186, 186);
    text-decoration: none;
}


a:visited {
    color: rgb(197, 186, 186);
    text-decoration: none;
}


a:hover {
    color: white;
}

a.active {
    color: white;
}

li {
    display: inline-block;
    margin-right: 30px;
}


/*Schedule*/

.schedulePage {
    background-image: url('https://i.imgur.com/D4ebjm8.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.scheduleDescription {
    font-size: 40px;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 200px;
    font-family: 'Nunito', sans-serif;
    padding-right: 200px;
    line-height: 1.4;
}

table {
    border-spacing: 10px;
    width: 100%;
}

th {
    font-size: 25px;
    text-align: left;
    text-decoration: underline;
    height: 75px;
    width: 33%;
}

td {
    font-size: 20px;
    padding-right: 5px;
    line-height: 10px;
    height: 15px;
    
}

.courseName {
    font-size: 15px;
    color: rgb(161, 161, 161);
}

.experience {
    color: rgb(74, 167, 62);
    /*color: rgb(223, 172, 79);*/
}


/*Contact Page*/

.contactPage {
    background-image: url("https://i.imgur.com/uVJI4B0.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    
}

.contactMe {
    font-size: 40px;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 200px;
    font-family: 'Nunito', sans-serif;
    padding-right: 200px;
    line-height: 1.4;
}

.jessica {
    font-size: 15px;
    color: whitesmoke;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.zdenek {
    font-size: 15px;
    color: whitesmoke;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.contactMe .instagram {
    font-size: 40px;
}

.contactMe .linkedin {
    font-size: 40px;
}

.contactMe .material-icons.email {
    font-size: 40px;
}

.contactMeIcons {
    width: 400px;
}

