/*index.html*/

.intro{
        color: whitesmoke;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        padding-top: 17vw;
        padding-left: 15vw;
        line-height: 0.0;
}

.openPage {
    background-image: url("https://i.imgur.com/ZflMvYr.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
 
}

h3 {
    font-size: 4vw;
}

h4 {
    font-size: 2vw;

}

h5 {
    font-size: 1.3vw;
    font-style: italic;
}

p {
    font-size: 1.3vw;
}

.aboutme {
    font-size: 40px;
    color: white;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 10vw;
    font-family: 'Roboto', sans-serif;
    padding-right: 10vw;
    line-height: 1.4;
    background-color: rgb(4, 28, 41);
    letter-spacing: .1px;
    
}

body {
    margin: 0;
}


.location {
    font-size: 1vw;
    color: whitesmoke;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/*footer*/

footer {
    background-color: rgb(23, 23, 23);
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    line-height: 1vw;
}

.endingMessage {
    padding-top: 1vw;
    font-size: 1vw;
}

.mail:hover .envelope-o,
.mail .envelope-open-o {
    display: none;
    vertical-align: bottom;
}

.mail:hover .envelope-open-o {
    display: inline;
}

/*header/top nav*/
header {
    padding: 20px;
    padding-left: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    letter-spacing: .5px;
}

a:link {
    color: rgb(197, 186, 186);
    text-decoration: none;
}


a:visited {
    color: rgb(197, 186, 186);
    text-decoration: none;
}


a:hover {
    color: white;
}

a.active {
    color: white;
}

li {
    display: inline-block;
    margin-right: 30px;
}


/*Schedule*/

.schedulePage {
    background-image: url('https://i.imgur.com/hcRFxUW.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    
}

.scheduleDescription {
    font-size: 40px;
    color: white;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 10vw;
    font-family: 'Roboto', sans-serif;
    padding-right: 10vw;
    line-height: 1.4;
}

table {
    border-spacing: 1vw;
    width: 100%;
}

th {
    font-size: 2vw;
    text-align: left;
    text-decoration: underline;
    height: 7vw;
    width: 33%;
}

td {
    font-size: 1.3vw;
    padding-right: 5px;
    line-height: 1.5vw;
    height: 1vw;
    
}

.courseName {
    font-size: 1vw;
    color: rgb(161, 161, 161);
}

.experience {
    color: rgb(74, 167, 62);
}

.jon {
    font-size: 1vw;
    color: whitesmoke;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/*Contact Page*/

.contactPage {
    background-image: url("https://i.imgur.com/uVJI4B0.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    
}

.contactMe {
    font-size: 40px;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 10vw;
    font-family: 'Roboto', sans-serif;
    padding-right: 10vw;
    line-height: 1.4;
}

.zdenek {
    font-size: 1vw;
    color: whitesmoke;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.contactMe .instagram {
    font-size: 2vw;
}

.contactMe .linkedin {
    font-size: 2vw;
}

.contactMail {
    font-size: 140%;
}

.contactMe .github {
    font-size: 2vw;
}

.contactMe .twitter {
    font-size: 2vw;
}

.contactMail:hover .envelope-o,
.contactMail .envelope-open-o {
    display: none;
    vertical-align: bottom;
}
.contactMail:hover .envelope-open-o {
    display: inline;
}

.contactMeIcons {
    width: 20vw;
}


